footer {
    padding-top: 1rem;
}

.icon {
    margin-right: 1rem;
}

.footer-contact {
    padding-left: 5px;
}

.footer-bottom {
    margin-top: 1rem;
}

.socials-icon {
    margin: 0 1rem;
}

.carousel-item > img {
    object-fit: cover;
    object-position: center;
}
html {
    background: #212529;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}